/* import css style */
@import url("./fonts.css");
/* import css style */

/* UNVERSAL TAG START */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* UNVERSAL TAG END */
/* ROOT VARIABLE START */
:root {
  --light: #ffffff;
  --black: #000000;
  --dark: rgba(0, 0, 0, 0.88);
  --green: #f5f5f5;
  --blue: #57b8ff;
  --yellow: #fac422;
  /* --dark:; */
}
/* ROOT VARIABLE END */
/* HTML BODY START */

body {
  font-family: "Orbitron";
}

/* HTML BODY END */
.dark {
  background-color: var(--dark);
}
.light {
  background-color: var(--light);
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  width: 100%;
  height: 1069px;
  background-color: var(--blue);
}
.navbar {
  padding-top: 20px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 92px;
}
.site__logo-link {
  text-decoration: none;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.nav-link:hover {
  color: var(--yellow);
}
.site__btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.btn-darkmode {
  background-color: transparent;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  transition: all 0.9s;
}
.btn-darkmode:hover {
  background-color: var(--black);
  transform: scale(1.3);
}
.btn-darkmode > svg {
  width: 28px;
  height: 28px;
}
.nav-btn {
  color: var(--light);
  border: 1px solid var(--light);
  padding: 16px 31px;
  text-align: center;
  text-decoration: none;
}
/* SITE__HERO */
.site__hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 209px 0px;
}
.site__hero-subtitle {
  width: 660px;
  padding: 6px 10px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.site__hero-subtitle > img {
  padding: 6px 10px 8px;
}
.site__hero-subtitle > span {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}
.site__hero-heading {
  color: #fff;
  font-size: 72px;
  font-weight: 400;
  line-height: 86px; /* 119.444% */
  text-transform: capitalize;
  margin-bottom: 24px;
}
.site__hero-paragriph {
  width: 615px;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  margin-bottom: 53px;
}
.site__hero-btn {
  padding: 21px 34px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  text-transform: capitalize;
  transition: all 0.9s;
}
.btn-bg-blue {
  background-color: var(--dark);
  transition: all 0.9s;
}
.btn-bg-blue:hover {
  border: 2px solid var(--black);
  background-color: transparent;
}
.btn-bgh-blue:hover {
  background-color: var(--dark);
}
/* SITE__HERO */
